.testimonial__container{
    width: 750px;
}

.testimonial__card{
    background-color: var(--container-color);
    border: 1px solidrgba(0,0,0,0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.testimonial__img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}
.testimonial__name{
    font-size: var(--h2-font-size);;

}
.testimonial__company{
    font-size: var(--normal-font-size);;
}
.testimonial__description{
    font-size: var(--small-font-size);
}

/*swiperclass*/
.swiper-pagenation-bullet{
    background-color: var(--text-color) !important;
}

.swiper-pagenation-bullet-active{
    background-color: var(--title-color) !important;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
   .testimonial__container{
    width: initial;}
   
  }
  

  
  @media screen and (max-width: 576px) {
  .skills__container{
    grid-template-columns: 1fr;
  }
  .skills__content{
    padding: 1.5rem;
  }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills__box{
        column-gap: 1.25rem;
    }

.skills__name{
    font-size: var(--small-font-size);
}
.testimonial__card{
    padding: 1.25rem 1.5rem;
}
  }
  